node_modules
.output
.nitro
.vinxi
.tanstack
.wrangler
.dev.vars
dist
dist-ssr

.env
.env.*
*.local

.git
.gitignore
.github

.vscode
.idea
.DS_Store

.lovable

e2e
playwright.config.ts
vitest.config.ts

*.log
logs

Dockerfile
.dockerignore
README.md
